@font-face {
  font-family: 'Inter';
  src: url('./fonts/static/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/static/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/static/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}


@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/static/Merriweather_36pt-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/static/Merriweather_36pt-Black.ttf') format('truetype');
  font-weight: 900;
}


html, body { 
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
